<header class="pick-top background-content flex-left background-blur">
    <a href="/" id="home-page" target="_top">
        <figure class="mini-logo"><img id="host-logo" src="assets/images/logo.small.png"></figure>
    </a>
</header>
<main class="flex-center">
    <section class="material-box" id="login-section">
        <h1>
            Добро пожаловать!
        </h1>
        <h2>
            Консоль управления сайтом <span id="host-name"></span>
        </h2>
        <div class="input-section">
            <input type="text" id="auth-login" placeholder="Логин"><label for="auth-login"
                                                                          id="auth-login-message"></label>
            <input type="password" id="auth-password" placeholder="Пароль"><label for="auth-password"
                                                                                  id="auth-password-message"></label>
        </div>
        <div class="bottom-buttons">
            <button id="auth-button" data-login-button="auth">Авторизация</button>
        </div>
    </section>
</main>
<footer class="pick-bottom background-content flex-left background-blur">
    <span>
        © PMS 2018 <span class="hide-on-mobile"> Автор - Владислав Пономарев (Аналитика и данные - ©
        <a href="http://prakula.ru" target="_blank" rel="noopener">PRakula</a> 2014 - 2018 и
        <a href="https://akulaweb.ru" target="_blank" rel="noopener">AkulaWeb.ru</a>)</span>
    </span>
</footer>